<a href="https://colab.research.google.com/github/ChabiMax/author_network/blob/main/Graph_from_raw_data_Mat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><center><strong><font color="chillipepper">Réseau Wikipédia des auteurs francophones</font></strong></center></h1>
<h5><center><font color="green">Science des réseaux sociaux et économiques <h3><center>


<center>
Maxime Chabriel, Yasmine Houri, Mathis Sansu  

ENSAE 2022
</center>

<h2><center><strong><font color="chillipepper">Analyses</font></strong></center></h2>

# Graph bipartite

## Packages

In [ ]:
import pandas as pd
import networkx as nx
from networkx.algorithms import bipartite
import pickle as pkl

## Données

In [ ]:
# Lien du repository GitHub pour récupérer les données
git_url = "https://raw.githubusercontent.com/ChabiMax/author_network/main/"
data = pd.read_pickle(git_url+'/Data/raw_data.pkl')

In [ ]:
# Passage du dictionnaire sous forme de dataframe
df = pd.DataFrame(data).T
df['index'] = df.index
df.insert(0, 'index', df.pop('index'))
df.head()

,index,name,link,date_mort,date_naissance,taille_html_article,network_interauteur,poids_liens_interauteur,genres_mentionnes,type,contemporain,poids_contempo_diff_naissance,poids_contempo_annees_communes,auteurs_du_genre,debut_genre,fin_genre
0,0,Turold,https://fr.wikipedia.org/wiki/Turold,2025,9999,72759,[],[],[],auteur,[],[],[],NaN,NaN,NaN
1,1,Philippe de Thaon,https://fr.wikipedia.org/wiki/Philippe_de_Thaon,2025,9999,68186,[],[],[],auteur,[],[],[],NaN,NaN,NaN
2,2,Benoît de Sainte-Maure,https://fr.wikipedia.org/wiki/Beno%C3%AEt_de_S...,2025,9999,82458,[4],[1],[1626],auteur,[],[],[],NaN,NaN,NaN
3,3,Jean Bodel,https://fr.wikipedia.org/wiki/Jean_Bodel,1165,9999,72386,"[10, 22]","[1, 1]","[1661, 1690, 1603]",auteur,[],[],[],NaN,NaN,NaN
4,4,Wace,https://fr.wikipedia.org/wiki/Wace,1174,1100,98842,[6],[2],"[1590, 1660]",auteur,[],[],[],NaN,NaN,NaN

### Create links network

In [ ]:
id = 0
id_link = id
link_table = dict()

for source in df.index :
  if df.iloc[id]['type'] == "auteur":
    # print("id: ", id)
    # print("Source: ", source)
    for i in range(len(df.iloc[id]['network_interauteur'])):
      # print("i: ", i)
      # print("id_link: ", id_link)
      target = df.iloc[id]['network_interauteur'][i]
      # print("Target: ",target)
      link_table[id_link] = {'source' : source, 'target' : target}
      weight = df.iloc[id]['poids_liens_interauteur'][i]
      # print("Weight: ", weight)
      link_table[id_link]['weight'] = weight
      id_link +=1
    id += 1

In [ ]:
# link_table

In [ ]:
edge_links = pd.DataFrame(link_table).T
edge_links.head()

   source  target  weight
0       2       4       1
1       3      10       1
2       3      22       1
3       4       6       2
4       6       4       1

In [ ]:
G_links = nx.Graph(edge_links,source="source",target="target")
nx.info(G_links)

'Graph with 1252 nodes and 9679 edges'

### Create genre graph

In [ ]:
id = 0
id_link = id
genre_table = dict()

for source in df.index :
  if df.iloc[id]['type'] == "auteur":
    # print("id: ", id)
    # print("Source: ", source)
    for i in range(len(df.iloc[id]['genres_mentionnes'])):
      # print("i: ", i)
      # print("id_link: ", id_link)
      target = df.iloc[id]['genres_mentionnes'][i]
      # print("Target: ",target)
      genre_table[id_link] = {'source' : source, 'target' : target}
      id_link +=1
    id += 1

In [ ]:
# genre_table

In [ ]:
edge_genres = pd.DataFrame(genre_table).T
edge_genres['weights'] = 1
edge_genres.head()

   source  target  weights
0       2    1626        1
1       3    1661        1
2       3    1690        1
3       3    1603        1
4       4    1590        1

In [ ]:
G_genres = nx.Graph(edge_genres,source="source",target="target")
nx.info(G_genres)

'Graph with 864 nodes and 2025 edges'