<a href="https://colab.research.google.com/github/ChabiMax/author_network/blob/main/Graph_from_raw_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><center><strong><font color="chillipepper">Réseau Wikipédia des auteurs francophones</font></strong></center></h1>
<h5><center><font color="green">Science des réseaux sociaux et économiques <h3><center>


<center>
Maxime Chabriel, Yasmine Houri, Mathis Sansu  

ENSAE 2022
</center>

<h2><center><strong><font color="chillipepper">Analyses</font></strong></center></h2>

# Graph bipartite

## Packages

In [24]:
import pandas as pd
import networkx as nx
from networkx.algorithms import bipartite
import pickle as pkl

## Données

In [25]:
# Lien du repository GitHub pour récupérer les données
git_url = "https://raw.githubusercontent.com/ChabiMax/author_network/main/"
data = pd.read_pickle(git_url+'/Data/dictionary_pickle.pkl')

In [29]:
# Passage du dictionnaire sous forme de dataframe
df = pd.DataFrame(data).T
df['index'] = df.index
df.insert(0, 'index', df.pop('index'))
df.head()

,index,name,link,date_mort,date_naissance,taille_article,network,weights,net_genre,meme_genre,contemporain
6,6,Turold,https://fr.wikipedia.org/wiki/Turold,2025,None,72468,[],[],[None],[],[]
10,10,Philippe de Thaon,https://fr.wikipedia.org/wiki/Philippe_de_Thaon,2025,None,67944,[],[],[None],[],[]
14,14,Benoît de Sainte-Maure,https://fr.wikipedia.org/wiki/Beno%C3%AEt_de_S...,2025,None,82324,[17],[1],[[94]],"[1538, 1542, 1545, 1550, 529, 1557, 26, 1055, ...",[]
16,16,Jean Bodel,https://fr.wikipedia.org/wiki/Jean_Bodel,1165,None,72283,"[23, 43]","[1, 1]","[[129, 164, 69]]",[],[]
17,17,Wace,https://fr.wikipedia.org/wiki/Wace,1174,1100,98720,[19],[2],"[[56, 128]]","[536, 554]","[18, 19, 20, 22, 23, 24]"

### Create links network

In [30]:
id = 0
id_link = id
link_table = dict()

for source in df.index :
  # print("id: ", id)
  # print("Source: ", source)
  for i in range(len(df.iloc[id]['network'])):
    # print("i: ", i)
    # print("id_link: ", id_link)
    target = df.iloc[id]['network'][i]
    # print("Target: ",target)
    link_table[id_link] = {'source' : source, 'target' : target}
    weight = df.iloc[id]['weights'][i]
    # print("Weight: ", weight)
    link_table[id_link]['weight'] = weight
    id_link +=1
  id += 1

In [31]:
# link_table

In [33]:
edge_links = pd.DataFrame(link_table).T
edge_links.head()

   source  target  weight
0      14      17       1
1      16      23       1
2      16      43       1
3      17      19       2
4      19      17       1

In [34]:
G_links = nx.Graph(edge_links,source="source",target="target")
nx.info(G_links)

'Graph with 1252 nodes and 9673 edges'

### Create genre graph

In [35]:
id = 0
id_link = id
genre_table = dict()

for source in df.index :
  # print("id: ", id)
  # print("Source: ", source)
  for i in range(len(df.iloc[id]['meme_genre'])):
    # print("i: ", i)
    # print("id_link: ", id_link)
    target = df.iloc[id]['meme_genre'][i]
    # print("Target: ",target)
    genre_table[id_link] = {'source' : source, 'target' : target}
    id_link +=1
  id += 1

In [36]:
# genre_table

In [37]:
edge_genres = pd.DataFrame(genre_table).T
edge_genres['weights'] = 1
edge_genres.head()

   source  target  weights
0      14    1538        1
1      14    1542        1
2      14    1545        1
3      14    1550        1
4      14     529        1

In [38]:
G_genres = nx.Graph(edge_genres,source="source",target="target")
nx.info(G_genres)

'Graph with 444 nodes and 12563 edges'